<link rel="stylesheet" href="/css/user_profile.css" />
<div class="divprofile">
    <h1>Socialmash / Profile Page</h1>
</div>


<% if ( user.id == profile_user.id) { %>
<!-- show form -->
<div class="data">
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" id="" placeholder="Your Name" value="<%= profile_user.name  %>" required>
        <input type="text" name="email" id="" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="update">
    </form>
</div>
<% } else { %>
<!-- show profile info -->
<div class="data">
    <h1><%= profile_user.name%></h1>
    <h1><%= profile_user.email%></h1>
</div>
<% } %>